html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #666;
  color: #333333;
  width: 567px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#actorapp {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#actorapp .head {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px 0;
}

.actor-name .edit-form input[type="text"],
#actor-form input[type="text"] {
  background-color: white;
  width: 436px;
  font-size: 24px;
  font-family: inherit;
  border: 0;
  outline: none;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#actor-form input[type="text"] {
  width: 200px;
}

#actorapp input::-webkit-input-placeholder {
  font-style: italic;
}

#main {
  background: #eee;
  color: #333333;
  width: 100%;
  padding-bottom: 15px;
  clear: both;
  overflow: auto;
}

#actor-list {
  padding: 0 17px 0 17px;
  list-style: none;
  float: left;
  margin: 0;
}

#actor-list ul {
  list-style: none;
}

#actor-list li.actor-item {
  padding: 18px 10px 18px 0px;
  width: 480px;
  position: relative;
  font-size: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  margin-bottom: 10px;
}

li.actor-item.active {
  background-color: #fff;
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
}

li.actor-item.selected {
  -webkit-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  -moz-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  -ms-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  -o-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
}

#arrow {
  width: 300px;
  z-index: 3;
}

#arrow img {
  width: 300px;
}

.destroy, .activate {
  position: absolute;
  right: 10px;
  top: 20px;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.destroy {
  background: url(../images/destroy.png) no-repeat;
}

.activate {
  right: 35px;
  background: url(../images/activate.png) no-repeat;
}
li:hover .destroy, li:hover .activate {
    display: block;
}

.destroy:hover, .activate:hover {
    background-position: 0 -20px;
}

#actor-list li .actor-name {
  padding: 0 0 0 8px;
  height: 40px;
}

#actor-list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

#actor-list li.editing:last-child {
  margin-bottom: -1px;
}

#actor-list li.editing .actor-name .edit-form {
  display: block;
  width: 444px;
  padding: 0px;
  margin: 10px 0 0 0;
}

#actor-list li.editing .actor-name .show {
  display: none;
}

#actor-list li .actor-name label {
  word-break: break-word;
}

#actor-list li .edit-form {
  display: none;
}

#actorapp footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: white;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.actor-initiative {
  clear: both;
  display: inline-block;
  float: left;
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 10px 0 0 3px;
  color: #666;
  font-weight: normal;
  font-size: 16px;
}

.actor-initiative .show {
  text-align: center;
}

.actor-initiative .edit-form input[type="text"] {
  display: inline-block;
  width: 28px;
}

#actor-count span {
  font-weight: bold;
}

#control-panel {
  width: 100%;
  display: block;
  margin-top: 15px;
}

#actor-form {
  display: block;
  float: left;
}

#activate-next {
  float: right;
  width: 250px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  display: block;
  background-color: #555;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  font-weight: bold;
  font-size: 24px;
  padding: 16px 0 0 0;
  margin-bottom: 20px;
}
#activate-next:hover {
  background-color: #888;
  color: white;
}
#activate-next a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
