.active .selected.labels li.failed  a {
  background-color: black;
}
.active .selected.labels li.failed a.remove:before {
  border-left: 1px solid #999;
}

.active .selected.labels li.ongoing  a {
  background-color: red;
}
.active .selected.labels li.ongoing a.remove:before {
  border-left: 1px solid #e00;
}

.active .selected.labels li.stance  a {
  background-color: #80a;
}
.active .selected.labels li.stance a.remove:before {
  border-left: 1px solid #c0e;
}

/* Negative effects */
.active .selected.labels li.dazed a,
.active .selected.labels li.stunned a {
  background-color: #b40;
}

.active .selected.labels li.dazed a.remove:before,
.active .selected.labels li.stunned a.remove:before {
  border-left: 1px solid #c60;
}


.labels {
  padding: 0 0 0 8px;
}
.labels-maker {
  position: relative;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 8px 0 0 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
  background-color: #eee;
  border: 1px solid #ADB0B7;
  -webkit-box-shadow: #fff 0 1px 0;
  -moz-box-shadow: #fff 0 1px 0;
  box-shadow: #fff 0 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 2px 3px 5px;
  min-height: 29px;
  overflow-y: auto;
}
.active .labels-maker {
  background-color: #fff;
}

.labels-maker ul {
  list-style: none;
  padding: 0;

}

.labels-maker .selected.labels li {
  float: left;
  margin: 2px 3px 2px 0;
  position: relative;
  font-size: 11px;
  line-height: 13px;
  z-index: 1;
}

.labels-maker .selected.labels li a.remove {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 0 11px 11px 0;
  -moz-border-radius: 0 11px 11px 0;
  -ms-border-radius: 0 11px 11px 0;
  -o-border-radius: 0 11px 11px 0;
  border-radius: 0 11px 11px 0;
  color: #e0e0e0;
  padding: 0;
  width: 16px;
}

.active .selected.labels li a {
  background-color: #00f;
}

.selected.labels li a {
  background-color: #666;
  color: #fff;
  padding: 2px 4px 2px 6px;
  text-decoration: none;
}

.selected.labels li a.name {
  font-weight: bold;
  float: left;
  -webkit-border-radius: 11px 0 0 11px;
  -moz-border-radius: 11px 0 0 11px;
  -ms-border-radius: 11px 0 0 11px;
  -o-border-radius: 11px 0 0 11px;
  border-radius: 11px 0 0 11px;
  margin-right: 16px;
}

.active .selected.labels li a.remove:before {
  border-left: 1px solid #009;
}
.selected.labels li a.remove:before {
  border-left: 1px solid #840;
  content: "";
  float: left;
  margin: 3px 0 0;
  height: 11px;
}
.selected.labels li a.remove:after {
  float: left;
  content: "×";
  margin: 1px 0 0 3px;
}