.active .selected.labels li.failed  a {
  background-color: black;
}
.active .selected.labels li.failed a.remove:before {
  border-left: 1px solid #999;
}

.active .selected.labels li.ongoing  a {
  background-color: red;
}
.active .selected.labels li.ongoing a.remove:before {
  border-left: 1px solid #e00;
}

.active .selected.labels li.stance  a {
  background-color: #80a;
}
.active .selected.labels li.stance a.remove:before {
  border-left: 1px solid #c0e;
}

.selected.labels li.ready  a {
  background-color: #0a0;
}
.selected.labels li.ready a.remove:before {
  border-left: 1px solid #0d0;
}

/* Negative effects */
.active .selected.labels li.dominated a,
.active .selected.labels li.slowed a,
.active .selected.labels li.immobilized a,
.active .selected.labels li.dazed a,
.active .selected.labels li.stunned a {
  background-color: #b40;
}

.active .selected.labels li.dominated a.remove:before,
.active .selected.labels li.slowed a.remove:before,
.active .selected.labels li.immobilized a.remove:before,
.active .selected.labels li.dazed a.remove:before,
.active .selected.labels li.stunned a.remove:before {
  border-left: 1px solid #c60;
}

.labels {
  padding: 0 0 0 8px;
}

.labels-maker {
  position: relative;
  float: left;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 8px 0 0 0;
  padding: 2px 4px 1px 4px;
  width: 437px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 2px 3px 5px;
  min-height: 29px;
  overflow-y: auto;
}
.labels-maker:hover {
  border: 1px solid #ADB0B7;
}
.active .labels-maker {
  background-color: white;
}

.labels-maker ul {
  list-style: none;
  padding: 0;

}
.labels-maker .selected.labels:after {
  content: "";
  display: table;
  clear: both;
}

.labels-maker .selected.labels li {
  float: left;
  margin: 2px 3px 2px 0;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  z-index: 1;
}

.labels-maker .selected.labels li a.remove {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 0 11px 11px 0;
  -moz-border-radius: 0 11px 11px 0;
  -ms-border-radius: 0 11px 11px 0;
  -o-border-radius: 0 11px 11px 0;
  border-radius: 0 11px 11px 0;
  color: #e0e0e0;
  padding: 0;
  width: 20px;
}

.active .selected.labels li a {
  background-color: #00f;
}

.selected.labels li a {
  background-color: #999;
  color: #fff;
  padding: 2px 4px 2px 6px;
  text-decoration: none;
}

.selected.labels li a.name {
  font-weight: bold;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  margin-right: 20px;
}

.active .selected.labels li a.remove:before {
  border-left: 1px solid #009;
}
.selected.labels li a.remove:before {
  border-left: 1px solid #bbb;
  content: "";
  float: left;
  margin: 3px 0 0;
  height: 16px;
}
.selected.labels li a.remove:after {
  float: left;
  content: "×";
  margin: 1px 0 0 3px;
}
.labels-maker .selected.labels {
  cursor: text;
}
.labels-maker .selected.labels li.input {
  min-width: 20px;
  max-width: 100%;
  overflow: hidden;
}
.editable {
  height: auto;
  position: relative;
  width: auto;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
}
.editable .editor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 14px;
  width: 100%;
  resize: none;
  background-color: #eee;
}
.labels-maker .selected.labels li.input .editable .search {
  font-size: 16px;
  border: 0;
  float: left;
  margin: 0;
}
.editable .editor, .editable .resizer {
  line-height: 18px;
  margin: 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.editable .resizer {
  margin: -2px -1px -1px -4px;
  min-height: 10px;
  position: relative;
  visibility: hidden;
  width: 100%;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  border-radius: inherit;
}
.editable .resize.handle {
  display: none;
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 2;
  width: 14px;
  height: 14px;
}
.labels-maker .selected.labels li.input .editable .resizer {
  padding-right: 2px;
  min-width: 50px;
  width: 150px;
  font-size: 13px;
}
.editable textarea {
  outline: none;
}
.active .editable textarea {
  background-color: white;
}
