html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Avenir Next Condensed", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: url(../images/valley-background.jpg) black no-repeat;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

input:focus { outline: none; }

#actorapp {
  float: right;
  width: 267px;
  padding: 0px;
  margin: 0 20px 0 10px;
}

#actorapp .head {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px 0;
}

#actorapp .session {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px 0;
}

::placeholder {
   color:    white;
}

.marquee-name .edit-form input[type="text"] {
  background-color: white;
  width: 550px;
  font: 72px "Avenir Next Condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: 0;
  outline: none;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#actor-form input {
    outline:  none;
    font-family: "Avenir Next Condensed", Helvetica,Arial,Verdana,sans-serif;
    font-size:18px;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    box-shadow: none;
    background-color: rgba(228,168,218,0.3);
    border-radius:5px;
    height: 25px;
    border: solid 1px #666;
}

#actor-form input[type="text"] {
  width: 175px;
}

#actor-form input[type="text"].number {
  width: 45px;
}

#actorapp input::-webkit-input-placeholder {
  font-style: italic;
}

#main {
  background: rgba(0,0,0,0.2);
  color: #eee;
  width: 100%;
  padding-bottom: 15px;
  clear: both;
  overflow: hidden;
}

.panel.fixed {
	position: fixed;
}

#actor-list {
  padding: 0 12px 0 12px;
  list-style: none;
  float: left;
  margin: 0;
}

#actor-list ul {
  list-style: none;
}

li.actor-item {
  padding: 4px 2px 4px 0px;
  width: 240px;
  /*height: 27px;*/
  position: relative;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #666;
  overflow: auto;
  margin-bottom: 8px;
  background-color: rgba(0,0,0,0.2);
}

li.actor-item.active {
  z-index: 60;
  background-color: rgba(238,255,238,0.85);
  color: black;
}

li.actor-item.selected {
  z-index: 80;
  background-color: rgba(240,240,200,0.9);
  -webkit-box-shadow: yellow 0px 0px 3px 3px;
  -moz-box-shadow: yellow 0px 0px 3px 3px;
  -ms-box-shadow: yellow 0px 0px 3px 3px;
  -o-box-shadow: yellow 0px 0px 3px 3px;
  box-shadow: yellow 0px 0px 3px 3px;
}

li.actor-item.active {
  z-index: 80;
  background-color: white;
  -webkit-box-shadow: #6af 0px 0px 3px 3px;
  -moz-box-shadow: #6af 0px 0px 3px 3px;
  -ms-box-shadow: #6af 0px 0px 3px 3px;
  -o-box-shadow: #6af 0px 0px 3px 3px;
  box-shadow: #6af 0px 0px 3px 3px;
}
.away li.actor-item.active {
  -webkit-box-shadow: #6a9 0px 0px 3px 3px;
  -moz-box-shadow: #6a9 0px 0px 3px 3px;
  -ms-box-shadow: #6a9 0px 0px 3px 3px;
  -o-box-shadow: #6a9 0px 0px 3px 3px;
  box-shadow: #6a9 0px 0px 3px 3px;
}

#arrow {
  width: 50px;
  z-index: 3;
}

#arrow img {
  width: 50px;
}

.feature-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  margin-right: -2px;
  vertical-align: baseline;
}

.marquee .feature-icon {
  margin-right: -10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-repeat: no-repeat;
}

.feature-icon.bloodied {
  background-image: url(../images/blood-drop.png);
}
.feature-icon.concentrating {
  background-image: url(../images/combat-icons_concentrating.png);
}
.feature-icon.defending {
  background-image: url(../images/combat-icons_defending.png);
}
.feature-icon.granting {
  background-image: url(../images/combat-icons_granting.png);
}
.feature-icon.advantage {
  background-image: url(../images/combat-icons_advantage.png);
}
.feature-icon.disadvantage {
  background-image: url(../images/combat-icons_disadvantage.png);
}
.feature-icon.dying {
  background-image: url(../images/purple-skull.png);
}
.feature-icon.unconscious {
  background-image: url(../images/orange-skull.png);
}
.feature-icon.available {
  background-image: url(../images/combat-icons_available.png);
}
.feature-icon.reacted {
  background-image: url(../images/combat-icons_reacted.png);
}

li:hover .destroy, li:hover .activate {
    display: block;
}

.destroy:hover, .activate:hover {
    background-position: 0 -20px;
}

.actor-name {
  padding: 0 0 0 8px;
  margin: 0;
  min-height: 20px;
}

.actor-name label {
  margin-left: 4px;
  font-weight: 500;
  color: #eee;
}

.away .selected .actor-name label {
  color: #333;
}

.active .actor-name label {
  color: #333;
}
.actor-name .show {
  width: 200px;
}

.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

.editing:last-child {
  margin-bottom: -1px;
}

.editing .marquee-name .edit-form {
  display: block;
  width: 700px;
  padding: 0px;
  margin: 10px 0 0 0;
}

.editing .marquee-name .show {
  display: none;
}

.actor-name label {
  word-break: break-word;
}

.edit-form {
  display: none;
}

.edit-session {
    outline:  none;
    font-family: "Avenir Next Condensed", Helvetica,Arial,Verdana,sans-serif;
    width: 90%;
    font-size:18px;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    box-shadow: none;
    background-color: rgba(228,168,218,0.3);
    border-radius:5px;
    height: 25px;
    border: solid 1px #666;
}

#actorapp footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.actor-initiative {
  overflow: hidden;
  clear: both;
  display: inline-block;
  float: right;
  width: 20px;
  text-align: center;
  height: 21px;
  padding: 2px 3px 0px 2px;
  margin: 1px 4px 0 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background-color: #666;
}

.persistent .actor-initiative {
  background-color: #56a0ecab;
}

.persistent.actor-initiative {
  background-color: #56a0ecab;
}

.actor-initiative .show {
  text-align: center;
}

.actor-initiative .edit-form input[type="text"] {
  display: inline-block;
  width: 28px;
}

.help-message {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 12px;
}

#control-panel {
  width: 100%;
  display: block;
  margin-top: 15px;
}

#actor-form {
  display: none;
  float: left;
}

#help {
  padding: 0px 20px 10px 20px;
  min-width: 600px;
}
#help th {
  text-align: left;
  background-color: #5bf;
  min-width: 80px;
  color: white;
}
#help th, #help td {
  padding: 3px 5px 3px 5px;
}
#help th.behavior {
  min-width: 400px;
}
#help tr.break {
  height: 50px;
  vertical-align: bottom;
  color: #4ae;
}

.marquee, .environment {
  margin: 40px 10px 0 40px;
  float: left;
  background-color: white;
  width: 900px;
  overflow: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: white 0px 0px 3px 3px;
  -moz-box-shadow: white 0px 0px 3px 3px;
  -ms-box-shadow: white 0px 0px 3px 3px;
  -o-box-shadow: white 0px 0px 3px 3px;
  box-shadow: white 0px 0px 3px 3px;
  min-height: 100px;
}

.environment {
  background-color: #aaa;
  -webkit-box-shadow: #aaa 0px 0px 3px 3px;
  -moz-box-shadow: #aaa 0px 0px 3px 3px;
  -ms-box-shadow: #aaa 0px 0px 3px 3px;
  -o-box-shadow: #aaa 0px 0px 3px 3px;
  box-shadow: #aaa 0px 0px 3px 3px;
}


.marquee.primary {
    min-height: 160px;
}

.marquee.next {
  margin: 40px 10px 0 250px;
  width: 590px;
  min-height: 130px;
  background-color: #ccc;
  -webkit-box-shadow: #ccc 0px 0px 3px 3px;
  -moz-box-shadow: #ccc 0px 0px 3px 3px;
  -ms-box-shadow: #ccc 0px 0px 3px 3px;
  -o-box-shadow: #ccc 0px 0px 3px 3px;
  box-shadow: #ccc 0px 0px 3px 3px;
}

.marquee .cell {
  padding: 0 10px 10px 10px;
}

.marquee .cell .marquee-name {
  font-size: 72px;
  margin: 10px;
  line-height: 72px;
  font-weight: bold;
}
.marquee .cell .marquee-name label{
  margin-left: 0;
}

.marquee.next .cell .marquee-name {
  font-size: 28px;
  margin: 10px;
  line-height: 28px;
  font-weight: bold;
}
.return-msg {
  text-transform: uppercase;
}

.away,
.away .editable .editor {
  background-color: #ffb;
}

#actorapp.away {
  background-color: transparent;
}

.marquee.primary.away {
  -webkit-box-shadow: yellow 0px 0px 3px 3px;
  -moz-box-shadow: yellow 0px 0px 3px 3px;
  -ms-box-shadow: yellow 0px 0px 3px 3px;
  -o-box-shadow: yellow 0px 0px 3px 3px;
  box-shadow: yellow 0px 0px 3px 3px;
}