html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: url(../images/valley-background.jpg) black no-repeat;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

#actorapp {
  background-color: rgba(255,255,255,0.8);
  float: right;
  width: 267px;
  padding: 0px;
  margin: 0 20px 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#actorapp .head {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 10px 0;
}

.actor-name .edit-form input[type="text"],
#actor-form input[type="text"] {
  background-color: white;
  width: 200px;
  font-size: 18px;
  font-family: inherit;
  border: 0;
  outline: none;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#actor-form input[type="text"] {
  width: 200px;
}

#actor-form input[type="text"].number {
  width: 50px;
}

#actorapp input::-webkit-input-placeholder {
  font-style: italic;
}

#main {
  background: #eee;
  color: #333333;
  width: 100%;
  padding-bottom: 15px;
  clear: both;
  overflow: auto;
}

.panel.fixed {
	position: fixed;
}

#actor-list {
  padding: 0 12px 0 12px;
  list-style: none;
  float: left;
  margin: 0;
}

#actor-list ul {
  list-style: none;
}

#actor-list li.actor-item {
  padding: 4px 2px 4px 0px;
  width: 240px;
  position: relative;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #666;
  overflow: auto;
  margin-bottom: 10px;
}

li.actor-item.active {
  z-index: 60;
  background-color: rgba(238,255,238,0.85);
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
}

li.actor-item.selected {
  z-index: 80;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: rgba(255, 255, 0, 0.3) 0px 0px 3px 3px;
  -moz-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  -ms-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  -o-box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
  box-shadow: rgba(0, 220, 0, 0.3) 0px 0px 3px 3px;
}

#arrow {
  width: 50px;
  z-index: 3;
}

#arrow img {
  width: 50px;
}

.feature-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  margin-right: -2px;
}

.marquee .feature-icon {
  margin-right: -15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-repeat: no-repeat;
}

.bloodied {
  background-image: url(../images/blood-drop.png);
}

.dying {
  background-image: url(../images/skull.png);
}

li:hover .destroy, li:hover .activate {
    display: block;
}

.destroy:hover, .activate:hover {
    background-position: 0 -20px;
}

#actor-list li .actor-name {
  padding: 0 0 0 8px;
  margin: 0;
}

#actor-list li .actor-name .show {
  width: 200px;
}

#actor-list li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}

#actor-list li.editing:last-child {
  margin-bottom: -1px;
}

#actor-list li.editing .actor-name .edit-form {
  display: block;
  width: 444px;
  padding: 0px;
  margin: 10px 0 0 0;
}

#actor-list li.editing .actor-name .show {
  display: none;
}

#actor-list li .actor-name label {
  word-break: break-word;
}

#actor-list li .edit-form {
  display: none;
}

#actorapp footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.actor-initiative {
  clear: both;
  display: inline-block;
  float: right;
  width: 20px;
  text-align: center;
  padding: 0 4px 0 0;
  color: #666;
  font-weight: normal;
  font-size: 16px;
}

.actor-initiative .show {
  text-align: center;
}

.actor-initiative .edit-form input[type="text"] {
  display: inline-block;
  width: 28px;
}

.help-message {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 12px;
}

#control-panel {
  width: 100%;
  display: block;
  margin-top: 15px;
}

#actor-form {
  display: none;
  float: left;
}

#activate-next {
  float: right;
  width: 250px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  display: block;
  background-color: #555;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  font-weight: bold;
  font-size: 24px;
  padding: 16px 0 0 0;
  margin-bottom: 20px;
}
#activate-next:hover {
  background-color: #888;
  color: white;
}
#activate-next a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
#help {
  padding: 0px 20px 10px 20px;
}
#help th {
  text-align: left;
  background-color: #8bf;
  min-width: 100px;
}
#help th, #help td {
  padding: 3px 5px 3px 5px;
}

.marquee {
  margin: 40px 10px 0 40px;
  float: left;
  background-color: white;
  width: 700px;
  overflow: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

.marquee.next {
  margin: 40px 10px 0 150px;
  width: 590px;
  background-color: #999;
}

.marquee .cell {
  padding: 0 10px 10px 10px;
}

.marquee .cell .marquee-name {
  font-size: 72px;
  margin: 10px;
  line-height: 72px;
  font-weight: bold;
}

.marquee.next .cell .marquee-name {
  font-size: 28px;
  margin: 10px;
  line-height: 28px;
  font-weight: bold;
}